[submodule "meta-tegra"]
	path = meta-tegra
	url = git@github.com:OE4T/meta-tegra.git
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
	branch = dunfell
[submodule "meta-qt5"]
	path = meta-qt5
	url = git://code.qt.io/yocto/meta-qt5.git
